ul.social-list.menu.vertical.align-left
  li
    a(href='mailto:nguyen.johnsan@gmail.com' target='_blank')
      i.fas.fa-envelope-square
      | Email
  li
    a(href='https://github.com/john-san' target='_blank')
      i.fab.fa-github-square
      | Github
  li
    a(href='https://www.linkedin.com/in/john-san/' target='_blank')
      i.fab.fa-linkedin
      | LinkedIn