extends layout.pug

block content 
  include includes/breadcrumb.pug
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-8.large-9

        h1 John Nguyen

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I'm an aspiring full stack JavaScript web developer.  I'm currently working towards achieving #[a(href='https://join.teamtreehouse.com/full-stack-javascript-techdegree/' target='_blank') Team Treehouse's JavaScript Techdegree], which teaches the MERN(MongoDB, Express, React, Node) stack. I enjoy web development because there's always something new to learn! 
          p
            | Besides work and studying web development, I also regularly translate Japanese manga to English.  In my spare time, I like to study foreign languages, play basketball, and play video games.  I highly value hard, consistent work and minimalism.
          
      .cell.portfolio-meta.small-12.medium-4.large-3
        h6 Skills

        ul
          li JavaScript
          li jQuery
          li Node
          li Express
          li CSS, SCSS
          li Bootstrap, Foundation
          li HTML
          li WordPress
          li Fluent English
          li 
            a(href='https://drive.google.com/file/d/1hfkf-wQ-KeNUUqntsvn74-KDRuioLZCU/view' target='_blank') Business Japanese (N2)
        h6 Contact Info

        include includes/socialcolumn.pug
        
  include includes/breadcrumb.pug
  