extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 John Nguyen

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I'm an aspiring full stack JavaScript web developer.  I'm currently working towards achieving #[a(href='https://join.teamtreehouse.com/full-stack-javascript-techdegree/' target='_blank') Team Treehouse's JavaScript Techdegree], which teaches the MERN(MongoDB, Express, React, Node) stack. I enjoy web development because there's always something new to learn! 
          p
            | Besides work and studying web development, I also regularly translate Japanese manga to English.  In my spare time, I like to study foreign languages, play basketball, and play video games.  I highly value hard, consistent work and minimalism.
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li ES6 JavaScript
          li jQuery
          li CSS & SCSS
          li Bootstrap
          li HTML
          li WordPress
          li Fluent English
          li Business Japanese (N2)
        h6 Contact Info

        //- Add your own contact info
        ul
          li 
            a(href='mailto:nguyen.johnsan@gmail.com') nguyen.johnsan@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://github.com/john-san' target='_blank') GitHub
        a.button.expanded(href='https://www.linkedin.com/in/john-san/' target='_blank') LinkedIn
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  