extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 John's Portfolio

      p.lead.text-light
        | Please have a look at some of my past work in web development.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.medium-up-2.large-up-3

      each project in projects
        .cell.grow
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls.cover}`)
            h5 #{project.project_name}

