<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title John's Portfolio
    
    link(rel='apple-touch-icon' sizes='180x180' href='static/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='static/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='static/favicon/favicon-16x16.png')
    link(rel='manifest' href='static/favicon/site.webmanifest')

    link(href='https://fonts.googleapis.com/css?family=Exo:800|Roboto+Slab&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/all.min.css')
    link(rel='stylesheet', href='/static/css/animate.min.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/portrait-500x500.jpg')
          .cell.auto

            h5 John Nguyen

            p.text-light
              | Full Stack JavaScript Developer

            ul#sidebar-nav.vertical.menu.align-center
              li
                a(href='/') Home
              li
                a(href='/about') About

            include includes/socialrow.pug
              
              

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title John Nguyen
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
