/*** Variables ***/
:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: #d41900;
  --accent-color-light: #ff351a;
  --accent-color-dark: #b31500;
  --first-supporting-color: #6a3835;
  --first-supporting-color-light: #b26a66;
  --first-supporting-color-dark: #773f3c;
  --second-supporting-color: #808080;
  --second-supporting-color-light: #8c8c8c;
  --second-supporting-color-dark: #595959;

  --general-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

h1, h2 {
  color: var(--accent-color);
}

h3, h4, h5, h6 {
  color: var(--second-supporting-color-dark);
}



.text-light {
  color: var(--second-supporting-color-dark);
}

h1, h2, h3, h4, h5, p{
  font-family: 'Merriweather', serif;
}

  h5 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6 {
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    color: var(--second-supporting-color-dark);
  }

.round{
  border-radius: 5px;
}

/* borrowed from https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}

.text-light{
  color: var(--second-supporting-color-light);
}

.button{
  background-color: #333;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 8px;
  box-shadow: var(--general-shadow);
}

.button:hover{
  background-color: #111;
  border: 2px solid var(--accent-color);
}

a{
  color: var(--accent-color-light);
}

a:hover{
  color: var(--accent-color-dark);
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

#my-info {
  text-align: center;
}
  #my-info .thumbnail {
    border-radius: 50%;
    border: solid 5px var(--primary-color);
    box-shadow: 0 0 8px var(--accent-color-dark);
  }

  #my-info h5 {
    color: var(--accent-color);
  }

#sidebar-nav {
  
}
  #sidebar-nav li a {
    color: var(--primary-color);
    font-size: 20px;
  }

  #sidebar-nav li a:hover 
  {
    color: var(--second-supporting-color-light);
  }
  #sidebar-nav li a:hover::before {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    margin-right: 5px;
    position: absolute;
    height: 15px;
    width: 15px;
    left:50px;

  }
  

#my-info .social-list li > a {
  color: var(--primary-color);
}
#my-info .social-list li > a:hover {
  color: var(--second-supporting-color-light);
}


.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
   color: var(--second-supporting-color);
 }

 .portfolio-breadcrumb a:hover {
  color: var(--second-supporting-color-dark);
}


.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .cell .thumbnail {
    margin-bottom: 5px;
    box-shadow: var(--general-shadow);
    border-radius: 5px;
  }
  .portfolio-index .cell .thumbnail:hover {
    filter: brightness(87.5%);
  }

  .portfolio-index .cell a > h5{
    color: var(--first-supporting-color-light);
  }
  .portfolio-index .cell:hover a > h5{
    color: var(--first-supporting-color-dark);
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
      text-align: center;
    }

.portfolio-meta{
  
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project .lead {
  font-size: 100%;
  line-height: 1.8;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-project .image  {
  cursor: pointer;
}

.portfolio-bio{
    line-height: 25px;
}

.error-message .error-stack {
  font-size: 12px;
  line-height: 2;
  background: rgba(128,128,128,0.25);
  padding: 8px;
  border-radius: 4px;
  color: red;
}



/*** Override Foundation styles ***/
.reveal {
  background-color: initial;
  padding: 0;
}

.title-bar-left .title-bar-title {
  margin-left: 8px;
}

.thumbnail {
  border: solid 4px var(--second-supporting-color-dark);
}


/*** Media Queries ***/
@media screen and (max-width: 39.9375em) {
  /* adjust modal display for imgs */
  .reveal img {
    min-height: 50vh;
    margin-top: 20vh;
  }
}

@media (min-width: 640px) {
  .portfolio-meta{
    padding-left: 20px;
  }

}